<h1>Profile#index</h1>
<p>Find me in app/views/cadmin/profile/index.html.erb</p>

<%= link_to current_cadmin_user.username,edit_profile_path(id: current_cadmin_user.id)%>

<%= link_to 'my events', '#' %>