.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: .5rem 1rem;
  
  &__menu {
    display: none;

    @include touch {
      display: block;
    }
  }
  &__button_user {
    background-color: transparent;
    border: 0;
  }

  &__button_user:hover {
    background-color: $secondary;
    color: $white;
  }
  
  &__button_user:focus {
    background-color: $tertiary;
    border-color: transparent;
  }
}