.sidebar {
  background-color: $primary;
  border-right: 1px solid $grey-lighter;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16.66%;
  display: flex;
  flex-direction: column;

  &__logo{
    min-height: 64px;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
  }

  &.open {
    width: 260px;
    visibility: visible;

    &:before {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 259px;
      right: 0;
      background-color: rgba($black, .5);
    }
  }

  @include touch {
    visibility: hidden;
    width: 0;
  }
  &__avatar {
    width: 45px !important;
    height: 45px !important;
    border: $white solid 2px;
  }
  &__letter_user {
    text-transform: uppercase;
    background-color: $white;
    color: $black !important;
    width: 32px;
    text-align: center;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;    
    height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .dropdown-item {
    color: $white;
  }

  .dropdown-content {
    background-color: $tertiary;
    box-shadow: none;
  }

  .dropdown-content > .dropdown-item > .dropdown-content {
    background-color: $tertiary;
  }
  
  a.dropdown-item:hover, button.dropdown-item:hover {
    background-color: $secondary;
    color: $white;
    border-radius: 7px;
  }

  .button_to .dropdown-item {
    width: 100%;
    background-color: transparent;
    border: 0;
  }

  .button_to .dropdown-item:hover {
    background-color: $secondary;
    color: $white;
    border-radius: 7px;
  }

  &__button_user {
    background-color: transparent;
    border: 0;
  }

  &__button_user:hover {
    background-color: $secondary;
    color: $white;
  }

  &__button_user:focus {
    background-color: $tertiary;
    border-color: transparent;
  }

  .dropdown-trigger {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }
  &__close {
    background: $link;
    border-radius: 0;
    position: absolute;
    right: -20px;
    display: none;
    right: -35px;
    min-width: 35px;
    min-height: 35px;

    @include touch {
      display: block;
    }
  }
  
  &__arrow{
    /*background-image: url(asset-path('icons/ico-chevron-down-white.svg')) !important;*/ /* TODO: DESCOMENTAR ENV: PRODUCTION */
    background-image: url('icons/ico-chevron-down-white.svg') !important;
    background-repeat:no-repeat !important;
    background-position: 96% 6px !important;
    background-size: 25px !important;
  }
  &__arrow:active{
    /*background-image: url(asset-path('icons/ico-chevron-down-white.svg')) !important;*/ /* TODO: DESCOMENTAR ENV: PRODUCTION */
    background-image: url('icons/ico-chevron-down-white.svg') !important;
    background-repeat:no-repeat !important;
    background-position: 96% 6px !important;
    background-size: 25px !important;
  }
}

.cmenu {
  padding: .5rem 1.5rem;

  &__list {

  }

  &__item {
    padding: .25rem;
  }
}