<!-- slider images -->
<section class="section is-flex is-justify-content-center service pt-1">
  <div class="column is-9">
    <h1 class="title is-size-1-desktop has-text-centered is-fullwidth"><%= @service.name  %></h1>
    <figure class="image is-5by3">
      <%= image_tag @service.image_url if @service.image %>
    </figure>
    <hr class="has-background-white-ter">
    <div class="service__content">
      <%= @service.description %>
    </div>
    <hr class="has-background-white-ter">
    <div class="service__content">
    <%= raw @service.features %>
    </div>
  </div>
</section>



