<!--email signature-->
<table style="width: 570px; font-size: 9pt; font-family: Arial, sans-serif; line-height:normal;" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td colspan="2" style=" font-size:12pt; font-family:Arial,sans-serif; padding-bottom:6px;  width:444px">
          <span style="font-family: Arial, sans-serif; color:#1b7592; font-weight: bold">
              
              
          </span>
          
      </td>
    </tr>
    <tr style="border-top: 1px solid #1b7592">
      <td style="width: 75%; padding-top: 6px; padding-bottom:6px;">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="width:25%;"><span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000;">Teléfono:</span></td>
              <td><span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold;">645 22 30 21</span></td>
            </tr>
            <tr>
              <td style="width:25%;"><span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000;">Email:</span></td>
              <td><span><a href="mailto:info@lagramoladisco.com" style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold; text-decoration: none"><span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold; text-decoration: none">info@lagramoladisco.com</span></a></span></td>
            </tr>
            <tr>
              <td style="width:25%; vertical-align: top; padding-top: 1px; "><span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000;">Dirección:</span></td>
              <td>
                <span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold;">Discoteca Móvil La Gramola<span>, </span>
                </span>
                <span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold;">Rúa do Restollal, 37<span>, </span>
                </span>
                <span style="font-size: 9pt; line-height: 13pt; font-family: Arial, sans-serif; color:#100000; font-weight: bold;">15702 Santiago de Compostela, A Coruña</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
        
      <td style="width:25%; padding-top: 6px; padding-bottom:6px; text-align:right;">
        <a href="https://www.lagramoladisco.com" target="_blank"><img border="0" alt="Logo" height="auto" style="max-width: 100%; width:180px; height:auto; border:0;" src="https://scontent.fmad7-1.fna.fbcdn.net/v/t1.6435-9/28378983_2014740648814375_4492635314598182912_n.jpg?_nc_cat=101&amp;ccb=1-6&amp;_nc_sid=09cbfe&amp;_nc_ohc=5B4nxGF4mkgAX-QXQUA&amp;_nc_ht=scontent.fmad7-1.fna&amp;oh=00_AT-9D9wNieC6pAdTe4Fz3yS8M8oo8PQH5PgDUK0_wMHCjA&amp;oe=62AA8C7E"></a>
          
      </td>
        
    </tr>
    <tr>
      <td style="border-top: 1px solid #1b7592" colspan="2" width="444">
      </td>
    </tr>
    <tr>
      <td style="padding-top: 10px; padding-bottom: 10px; font-size: 10pt; font-family: Arial, sans-serif; font-weight:bold; color: #1793ce; width:299px;" width="299">
        <span style="display:inline-block; font-family: Arial, sans-serif; font-size: 9pt; line-height: 19px;"><a href="http://www.lagramoladisco.com" target="_blank" style="text-decoration:none; line-height: 19px;"><span style="font-family:Arial, sans-serif; color:#1b7592; text-decoration:none;">www.lagramoladisco.com</span></a></span>
      </td>
      <td style="width:145px; text-align:right; padding-top: 10px; padding-bottom: 10px; " width="145">
        <span style="display:inline-block; height:19px;"><span><a href="https://www.facebook.com/gramoladisco" target="_blank"><img alt="Facebook icon" border="0" width="19" height="19" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/top-security/fb.png"></a>&nbsp;&nbsp;</span><span><a href="https://twitter.com/lagramoladisco?lang=es" target="_blank"><img alt="Twitter icon" border="0" width="19" height="19" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/top-security/tt.png"></a>&nbsp;&nbsp;</span><span><a href="https://www.instagram.com/lagramoladisco/?hl=es" target="_blank"><img alt="Instagram icon" border="0" width="19" height="19" style="border:0; height:19px; width:19px" src="https://www.mail-signatures.com/signature-generator/img/templates/top-security/it.png"></a>&nbsp;&nbsp;</span></span>
      </td>
    </tr>                            
    <tr>
      <td style="font-size:8pt; line-height: 9pt; font-family:Arial,sans-serif; color:#878787; width:444px; text-align:justify;" colspan="2" width="444">
        <span style="font-family: Arial, sans-serif; color:#000000">El contenido de este correo electrónico es confidencial y está destinado únicamente al destinatario especificado en el mensaje. Está estrictamente prohibido compartir cualquier parte de este mensaje con terceros, sin el consentimiento por escrito del remitente. Si recibió este mensaje por error, responda a este mensaje y continúe con su eliminación, para que podamos asegurarnos de que tal error no ocurra en el futuro.</span>
      </td>
    </tr>
  </tbody>
</table>
<!--email signature-->