<%= turbo_frame_tag :conversation do %>

  <% if conversation.sender_id == current_cadmin_user.id || conversation.recipient_id == current_cadmin_user.id %>
    <% if conversation.sender_id == current_cadmin_user.id %>
    <% recipient = Cadmin::User.find(conversation.recipient_id) %>
    <% else %>
    <% recipient = Cadmin::User.find(conversation.sender_id) %>
    <% end %>
    <li class="conversation is-flex is-justify-content-flex-end is-align-items-center">
      <%= link_to recipient.username, conversations_path(id: conversation.id), class: 'ml-2'%>
      <% if conversation.messages.where(viewed: false).count > 0 %>
        <span class="tag is-danger mr-2 is-rounded"><%= conversation.messages.count%></span>
      <% end %>
      <%= button_to '', conversation, method: :delete, class: 'delete is-medium has-background-warning',  data: { confirm: 'Are you sure?' } %>
    </li>
  
<% end %>