.has-background-tertiary{background-color: $tertiary;}

.field {
  margin-top: 20px;
}
.is-fullwidth {width: 100%;}
.is-halfwidth {width: 50%;}
.has-no-opacity{opacity: 0}
.btn-icon {
  background:transparent;
  border:none;
}

.has-no-bottom-line{
  border-bottom: none !important;
}

.is-170x128 {
  width: 170px;
  height: 128px;
}

.is-scrollable-touch{
  overflow-x: scroll;
  @include until($tablet) {
    overflow-x: scroll;
  }
}

.is-scrollable-y-touch{
  overflow-y: scroll;
  @include until($tablet) {
    overflow-y: scroll;
  }
}

.buttons {
  @include until($tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }
}

.table td, .table th{
  @include until($tablet){
    padding: 0;
    padding-right: 32px;
  }
}