.has-background-tertiary{background-color: $tertiary;}

.field {
  margin-top: 20px;
}

.is-halfwidth {
  width: 50%;
}

.btn-icon {
  background:transparent;
  border:none;
}

.has-no-bottom-line{
  border-bottom: none !important;
}

.is-170x128 {
  width: 170px;
  height: 128px;
}

.is-scrollable-touch{
  overflow-x: scroll;
  @include until($tablet) {
    overflow-x: scroll;
  }
}
