<div class="card ccard">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="has-background-primary p-2 ccard__rounded">
          <%= inline_svg_tag("cadmin/icons/#{icon}", size: '64', class: 'has-text-white  ') %>
        </div>
      </div>
      <div class="media-content">
        <%=  label %> <br>
        <%=  field %>
      </div>
    </div>
  </div>
</div>