.article {
  &__sticky {
    top:0;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
  }

  &__card {
    height:33rem;
  }
  &__title{
    position: absolute;
    width: 70%;
    left: 15%;
    top: -119px;
  }
  &__form {
    width: 70%;
    margin: 0 auto;
  }
  &__quill {
    height:30rem;
  }

  &__cfooter{
    position: absolute;
    bottom: 0;
  }

  &__tag a {
    color: $white; 
    &:hover{
      font-size: calc(100% + 5px);
    }
  }    

  &__select .ss-multi-selected {
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em !important;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em + 1px);
    padding-left: calc(0.75em + 1px);
    padding-right: calc(0.75em + 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;  
  }
}