.article {
  &__sticky {
    top:0;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
  }

  &__card {
    height:33rem;
  }
  &__title{
    position: absolute;
    width: 70%;
    left: 15%;
    top: -119px;
  }
  &__form {
    width: 70%;
    margin: 0 auto;
  }
  &__quill {
    height:30rem;
  }

  &__cfooter{
    position: absolute;
    bottom: 0;
  }
}